<div class="laptop-item">
    <img src="{{this.imageUrl}}" alt="Laptop">
    <p><strong>Brand:</strong> {{this.brand}}</p>
    <p><strong>Model:</strong> {{this.model}}</p>
    <a href="/devices/{{this.id}}/details" class="btn">View Details</a>
</div>